 .Wrapper {
     width: 100%;
     max-width: 1000px;
     margin-left: auto;
     margin-right: auto;
     padding-left: 40px;
     padding-right: 40px;
     position: absolute;
     left: 43px;
     right: 0px;
     &:after {
         content: '';
         display: table;
         clear: both;
     }
 }
