.ProcessLogs {
position: absolute;
top: 0;
width: 100%;
padding: 10px 0px;
background: #0070d3;
border-top: 1px solid #BDBDBD;
&__tick {
    color: #8BC34A;
}
ul{
    list-style-type: none;
    li{
        margin-left: 20px;
        font-size: 1rem;
    }
}
}