.ProcessLogs {
position: absolute;
bottom: -170px;
width: 100%;
padding: 10px 0;
background: #4f4f4f;

&__tick {
    color: #8BC34A;
}
ul{
    list-style-type: none;
    li{
    	color: #f2f2f2;
        margin-left: 20px;
        border-bottom: 1px solid #666;
        font-size: .8rem;
    }
}
}